<div class="col-md-4 formbg">


        <h1>What Is A Block Club</h1>
        <hr />
        <br />




        <h2>About Community Reimagined</h2>
        <hr />
        @{
            ViewBag.Title = "About";
        }
        @*<h2>@ViewBag.Title.</h2>*@




        <p>
            The best way to create a thriving city is to connect and enable community organizations within the city and pull them together into a coalition for growth. Designing a networking tool based on existing community organizations is a good beginning but it is only the first step. Block clubs are the best starting point because they provide individual residents with a mechanism for connecting to and interacting with their neighbors.

            Connecting individuals who have recently relocated to the city or moved to new areas will help create a positive sense of community. This application will have two primary functions:

            • Identify Block Clubs by inputting the user’s zip code, facilitate joining one of them

            • Allow Block Clubs themselves to push alerts out to their membership roster

            The user will then be able to find their closest block clubs and reach out for additional information regarding officers, meeting times, meeting locations, etc. Alerts will include emergency or security alerts, meeting reminders, activity/program alerts, or community meeting alerts. The application will be based on an interface that is intuitive, engaging, fun to use. Ultimately this application will facilitate networking between individual residents and Block Clubs, and between Block Clubs across the city.


            <br />
            <br />
            Feel Free to <a href="https://github.com/odil-akhmedov/CommYouNity/">Contribute</a> or Donate to our project
        </p>

        <br />
        <br />
        <h2>Traditional block clubs</h2>
        <br />
        <hr />
        <p>

            <br />
            Traditional block clubs are groups of people who have homes and families on any given block in the city and have organized to improve the quality of life in their neighborhoods. People who form block clubs are concerned and care about their communities and share information, identify concerns and act collectively to address those concerns.
            There are many benefits to organizing a block club. Knowing your neighbors and communicating on a regular basis can help you identify quality of life issues and other trends in your neighborhood and allow you to address those issues. Taking collective action, sharing information, and raising awareness among your neighbors will also help improve the safety of your block. With just a little time and work from you and all your neighbors, you can make a big impact on your community.

            But what if a traditional block club isn’t right for your neighborhood? There are many ways that people organize themselves; the important part is organizing around issues that affect you and your neighbors in a way that works for you. Some different, but equally effective ways to organize include:

            <h2>Vertical Block Clubs</h2>
            <br />
            In many neighborhoods throughout the City, high-rise or multi-unit apartment buildings or condominiums are the predominant form of housing. Organizing within your building will help you recognize who may belong in and around your building as well as identify issues that may only be affecting your building. Once your building is organized, you can connect with other building organizations in your neighborhood to work on issues you may all have in common.

            <h2>Walking Clubs</h2>
            <br />
            Walking clubs combine the goals of improving your personal health and the overall health of your neighborhood by taking regular community walks. Engaging in low impact physical activity at least once a week and continuing to learn healthy life-style habits through periodic presentations by health care, nutrition and exercise professionals improves your health and your neighbors health. While walking, you can identify conditions, such as graffiti, abandoned vehicles, abandoned buildings, etc., that can be co...(line truncated)...

            <h2>Garden Clubs</h2>
            <br />
            Improving the environment also improves your neighborhood. For many communities, organizing a garden club is a great way to keep their block safe. Again, an attractive, wellkept neighborhood is a strong deterrent to crime. From flowers on the parkway to working vegetable gardens on vacant lots that everyone can enjoy and that can also help raise funds to implement more programs to help the families on your block, a garden club may be right for you.

            <h2>    Virtual Block Clubs</h2>
            <br />

            CommYOUnity is your answer for Virtual and real block clubs.
            <br />
            Virtual Block Clubs–For some people with their busy schedules, a club that has no face-to-face meetings is what works. Members meet and have dialog via the Internet.
        </p>




        <br />
        <br />

        <p>About the Developers</p>
        <br />
        <br />



    <img src="~/Assets/Odiljon.jpg"  height="100" width="100"/>
    <br />
        Odiljon Adhmedov
        <br />
        <br />

        <a href="https://github.com/odil-akhmedov">Odilijon GitHub</a>
        <br />
        <br />
    <img src="~/Assets/Pam.png" height="100" width="100" />
    <br />    
    Pamela Finger
        <br />
        <br />

        <a href="https://github.com/pjfinger">Pamela GitHub</a>
        <br />
        <br />
    <img src="~/Assets/Luminosity.jpg" height="100" width="100" />
    <br />
        Matthew Kowalski
        <br />
        <br />

        <a href="https://github.com/unixarcade">Luminosity GitHub</a>
        <br />
        <br />

        <a href="http://luminosity.livejournal.com">Luminosity Journal</a>

        <br />
        <br />

    <img src="~/Assets/Tom.png" height="100" width="100" />
    <br />
        Tom Gregory
        <br />
        <br />

        <a href="https://github.com/thogrego">Tom Gregory Github</a>

        <br />
        <br />

    </div>

@*<h3>@ViewBag.Message</h3>*@
