@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<div class="col-md-4 formbg">
    <h2>Contact Us</h2>
   

        <br />
        <br />
        Feel Free to <a href="https://github.com/odil-akhmedov/CommYouNity/">Contribute</a> or Donate to our project
    </p>
    <br />
    <br />

    <p>About the Developers</p>
    <br />
    <br />

    Odiljon Adhmedov
    <br />
    <br />

    <a href="https://github.com/odil-akhmedov">Odilijon GitHub</a>
    <br />
    <br />

    Pamela Finger
    <br />
    <br />

    <a href="https://github.com/pjfinger">Pamela GitHub</a>
    <br />
    <br />


    Matthew Kowalski
    <br />
    <br />

    <a href="https://github.com/unixarcade">Luminosity GitHub</a>
    <br />
    <br />

    <a href="http://luminosity.livejournal.com">Luminosity Journal</a>

    <br />
    <br />

    Tom Gregory
    <br />
    <br />

    <a href="https://github.com/thogrego">Tom Gregory Github</a>

    <br />
    <br />

</div>




@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@