<div class="col-md-4 formbg">
    @{
        ViewBag.Title = "Contact";
    }
    @*<h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>*@


<div class="formbg">

    <h2>Contact Us</h2>

    <link href="~/Assets/MovingCss.css" rel="stylesheet" />

    <br />
    <br />
    </div>
   
    <div class="formbg">
        <h1>About the Developers</h1>
        <br />
        <br />
    </div>
    <div class="formbg">

        <img src="~/Assets/Odiljon.jpg" class="topbannerimage medimgsize" height="100" width="100" />
        <br />
        <p class="center">
            Odiljon Akhmedov
            <br />
            <br />

            <a href="https://github.com/odil-akhmedov">Odil's GitHub</a>
            <br />
            <br />
        </p>
    </div>


    <div class="formbg">
        <img src="~/Assets/Pam.png" class="topbannerimage medimgsize" height="100" width="100" />
        <br />
        <p class="center">
            Pamela Finger
            <br />
            <br />

            <a href="https://github.com/pjfinger">Pamela GitHub</a>
            <br />
            <br />
        </p>
    </div>
    <div class="formbg">
        <img src="~/Assets/Luminosity.jpg" class="topbannerimage medimgsize" height="100" width="100" />
        <br />
        <p class="center">
            Matthew Kowalski
            <br />
            <br />

            <a href="https://github.com/unixarcade">Luminosity GitHub</a>
            <br />
            <br />

            <a href="http://luminosity.livejournal.com">Luminosity Journal</a>

            <br />
            <br />
        </p>
    </div>


    <div class="formbg">

        <img src="~/Assets/Tom.png" class="topbannerimage medimgsize" height="100" width="100" />
        <br />
        <p class="center">
            Tom Gregory
            <br />
            <br />

            <a href="https://github.com/thogrego">Tom Gregory Github</a>

            <br />
            <br />
        </p>

        
    </div>

    <div class="formbg">
        <p class="center">
        Feel Free to <a href="https://github.com/odil-akhmedov/CommYouNity/">Contribute</a>  to our project.
        </p>
        <br />
        <br />
    </div>

</div>




@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@