<div class="col-md-4 formbg">
    @{
        ViewBag.Title = "Contact";
    }
   

<div class="formbg">

   

    <link href="~/Assets/MovingCss.css" rel="stylesheet" />

    <br />
    <br />
    </div>
    <div class="formbg">
        <h1>About the Developers</h1>
        <br />
        <br />
    </div>
    <table>
        <thead>

        </thead>
        <tbody>
            
        <tr>
            <td>
                <p class="center formbg">
                    <img src="~/Assets/Odiljon.jpg" class="topbannerimage medimgsize" height="100" width="100" />
                    <br />

                    Odiljon Akhmedov
                    <br />
                    <br />

                    <a href="https://github.com/odil-akhmedov">Odil's GitHub</a>
                    <br />
                    <br />
                </p>
                </td>



            <td>
                <p class="center formbg">
                    <img src="~/docs/CommYOU TEAM PHOTOS/IMG_0173 (2).JPG" class="topbannerimage medimgsize" height="100" width="100" />
                    <br />

                    Pamela Finger
                    <br />
                    <br />

                    <a href="https://github.com/pjfinger">Pamela GitHub</a>
                    <br />
                    <br />
                </p>
                </td>

            <td>
                <p class="center formbg">
                    <img src="~/Assets/Luminosity.jpg" class="topbannerimage medimgsize" height="100" width="100" />
                    <br />


                    Matthew Kowalski
                    <br />
                    <br />

                    <a href="https://github.com/unixarcade">Luminosity GitHub</a>
                    <br />
                    <br />

                   <!-- Such is love <a href="http://luminosity.livejournal.com">Luminosity Journal</a> -->

                   
                </p>
                </td>
            <td>
                <p class="center formbg">
                    <img src="~/docs/CommYOU TEAM PHOTOS/IMG_0174 (2).JPG" class="topbannerimage medimgsize" height="100" width="100" />
                    <br />

                    Tom Gregory
                    <br />
                    <br />

                    <a href="https://github.com/thogrego">Tom Gregory Github</a>

                    <br />
                    <br />
                </p>
                </td>
</tr>
            



        </tbody>

    </table>

    


   

    <div class="formbg">
        <p class="center">
        Feel Free to <a href="https://github.com/odil-akhmedov/CommYouNity/">Contribute</a>  to our project.
        </p>
        <br />
        <br />
    </div>

</div>




