@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Assets/detroitanight.png" class="topbannerimage" />
    <br />
    <h1>Community Reimagined</h1>

</div>

<div class="row">
    <div class="formbg">
        <h2>Getting started<hr/></h2>
        <p>
            The best way to create a thriving city is to connect and enable community organizations within the city and pull them together into a coalition for growth. Designing a networking tool based on existing community organizations is a good beginning but it is only the first step. Block clubs are the best starting point because they provide individual residents with a mechanism for connecting to and interacting with their neighbors.

            Connecting individuals who have recently relocated to the city or moved to new areas will help create a positive sense of community. This application will have two primary functions:
            
            <ol>
                Identify Block Clubs by inputting the user’s zip code, which facilitates joining one of them
            </ol>
            <ol>
                Allow Block Clubs themselves to push alerts out to their membership roster
            </ol>
            The user will then be able to find their closest block clubs and reach out for additional information regarding officers, meeting times, meeting locations, etc. Alerts will include emergency or security alerts, meeting reminders, activity/program alerts, or community meeting alerts. The application will be based on an interface that is intuitive, engaging, fun to use. Ultimately this application will facilitate networking between individual residents and Block Clubs, and between Block Clubs across the city.
        </p>
    </div>
</div>