@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<form class="formbg">
    <hgroup class="title">
        <br />
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            <br />
            Please check your email to reset your password.
        </p>
    </div>
</form>
