@import url('http://fonts.googleapis.com/css?family=Varela Round');
@import url('http://fonts.googleapis.com/css?family=Indie Flower');

::-webkit-scrollbar {
  width: 13px;
  height: 13px; }

::-webkit-scrollbar:hover {
  height: 18px; }

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 15px;
  width: 13px;
  display: block;
  background:white;
  background-repeat: no-repeat; }

::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url(scrollbar/horizontal-decrement-arrow.png);
  background-position: 4px 3px; }

::-webkit-scrollbar-button:horizontal:increment {
  background-image: url(scrollbar/horizontal-increment-arrow.png);
  background-position: 3px 3px; }

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(scrollbar/vertical-decrement-arrow.png);
  background-position: 3px 4px; }

::-webkit-scrollbar-button:vertical:increment {
  background-image: url(scrollbar/vertical-increment-arrow.png);
  background-position: 3px 4px; }

::-webkit-scrollbar-button:horizontal:decrement:active {
  background-image: url(scrollbar/horizontal-decrement-arrow-active.png); }

::-webkit-scrollbar-button:horizontal:increment:active {
  background-image: url(scrollbar/horizontal-increment-arrow-active.png); }

::-webkit-scrollbar-button:vertical:decrement:active {
  background-image: url(scrollbar/vertical-decrement-arrow-active.png); }

::-webkit-scrollbar-button:vertical:increment:active {
  background-image: url(scrollbar/vertical-increment-arrow-active.png); }

::-webkit-scrollbar-track-piece {
  background-color: navy; }

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,219,233,1)), color-stop(4%,rgba(170,197,222,1)), color-stop(64%,rgba(58,139,194,1)), color-stop(100%,rgba(30,32,109,1)));
  border: 1px solid aliceblue;
  border-top: 1px solid navy;
  border-left: 1px solid white; }

::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,219,233,1)), color-stop(4%,rgba(170,197,222,1)), color-stop(64%,rgba(58,139,194,1)), color-stop(100%,rgba(30,32,109,1)));
  border: 1px solid aliceblue;
  border-top: 1px solid navy;
  border-left: 1px solid white; }



.valign{
    vertical-align:middle;

}
.bigzip{

width:200px;
height:50px

}



.medtxtsize{
    font-size:20px;
    font-family: 'Varela Round', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.searchstyle {
    align-content:center; vertical-align:middle; height:50px; width:100px;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar {
    max-height: 30px !important:


}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* MRK Changes */


label{
font-family: 'Varela Round', sans-serif;
-webkit-font-smoothing: antialiased;

color:white;
}

html {

scrollbar-face-color :Aquamarine;
scrollbar-arrow-color:AliceBlue; 


}

.formbg{
border-radius:50px;
border:1px solid blue;
/* background-color:LightSteelBlue; */
padding-left:5px;
padding-bottom:10px;
padding-right:5px;
padding-top:5px;
/*width: 500px;*/
width: 100%;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;


    /*background: rgb(8,13,168); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,rgb(8,13,168)), color-stop(13%,rgb(8,13,168)), color-stop(86%,rgb(125,185,232)), color-stop(86%,rgb(125,185,232)), color-stop(86%,rgb(125,185,232))); 
background: -webkit-linear-gradient(top,  rgb(8,13,168) 13%,rgb(8,13,168) 13%,rgb(125,185,232) 86%,rgb(125,185,232) 86%,rgb(125,185,232) 86%);
background: -ms-linear-gradient(top,  rgb(8,13,168) 13%,rgb(8,13,168) 13%,rgb(125,185,232) 86%,rgb(125,185,232) 86%,rgb(125,185,232) 86%);
background: linear-gradient(to bottom,  rgb(8,13,168) 13%,rgb(8,13,168) 13%,rgb(125,185,232) 86%,rgb(125,185,232) 86%,rgb(125,185,232) 86%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080da8', endColorstr='#7db9e8',GradientType=0 );*/
background: -moz-linear-gradient(top,  rgba(0,56,135,1) 0%, rgba(0,56,135,1) 1%, rgba(0,56,135,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,56,135,1)), color-stop(1%,rgba(0,56,135,1)), color-stop(100%,rgba(0,56,135,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,56,135,1) 0%,rgba(0,56,135,1) 1%,rgba(0,56,135,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,56,135,1) 0%,rgba(0,56,135,1) 1%,rgba(0,56,135,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,56,135,1) 0%,rgba(0,56,135,1) 1%,rgba(0,56,135,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,56,135,1) 0%,rgba(0,56,135,1) 1%,rgba(0,56,135,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003887', endColorstr='#00003887',GradientType=0 ); /* IE6-9 */





/*background: url("../Assets/Bgupdate.jpg") no-repeat center center fixed;*/ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  padding-left:10px;
 



  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.topbannerimage{
 display: block;
    margin-left: auto;
    margin-right: auto      
}

.center{
    text-align:center
}

.medimgsize{
    height:250px;
    width:250px;
}

h1{
font-family: 'Indie Flower', cursive;
-webkit-font-smoothing: antialiased;
color:white;
text-align:center;
font-size:75px;

 text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;



 
}

 h1, h2, h3, h4{
font-family: 'Varela Round', sans-serif;
-webkit-font-smoothing: antialiased;
color:white;
text-align:center;
font-size:45px;

 text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
}

form, p {
font-family: 'Varela Round', sans-serif;
-webkit-font-smoothing: antialiased;
color:white;

 text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
}

body{

background: url("../Assets/Bgupdate.jpg") no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


   text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
}

.text {
color:black;


}




input, .inputclass
{
background:AliceBlue;

border-radius:5px;
border: 2px inset #d7b9c9

  
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  padding-bottom: 5px;
  padding-left: 1px;
  border-style: solid;
  border-color:black;
  border-width:1px;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-left:1px;



}

#border
{
border: 2px inset #d7b9c9

}


/* Start dribbbling */
/*#dribbble                              {width:20px; margin:20px auto 50px; text-align:center;}
#dribbble a                            {position:relative; display:inline-block; z-index:1; padding:7px 12px; border:0;
                                        overflow:hidden; font-weight:bold; font-family:Arial, sans-serif; color:#666;
                                        background:#e0e0e0;
                                        /* css3 */
                                        /*-webkit-border-radius:6px;
                                           -moz-border-radius:6px;
                                                border-radius:6px;}


#dribbble a:before                     {content:""; display:block; position:absolute; z-index:-1; top:50%; left:0; right:0;
                                        bottom:0; background:#d3d3d3;
                                        /* css3 */
                                        /*-webkit-border-radius:0 0 6px 6px;
                                           -moz-border-radius:0 0 6px 6px;
                                                border-radius:0 0 6px 6px;}


#dribbble a:after                      {content:"\00bb"; padding-left:5px;}

#dribbble a:hover,
 #dribbble a:focus,
 #dribbble a:active                    {color:#fff; background:#ec6196;}
#dribbble a:hover:before               {background:#ea4c88;}*/*/*/


/* End dribbbling*/
a:link {
    text-decoration: none;
    color: white;
border-bottom:solid black;
cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: white;
border-bottom:solid black;
cursor: pointer;
}

a:active {
    text-decoration: none;
    color: white;
border-bottom: solid black;
cursor: pointer;

outline: thin dotted #333;
  color:aliceblue
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}




li, ul,  ol{
font-family: 'Varela Round', sans-serif;
-webkit-font-smoothing: antialiased;
color:white;
padding:5px;
list-style-type:none;

}

.jumbotron{
    background-color:lightsteelblue;
}

.img{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
    max-width: 100%;
}
/*.img a, a:before, a:after{
    background-color:white;
}*/

.img-expanded{
    max-width: 100%;
}

.table{
    color:white;
}

.dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: white;
    }

.dl-horizontal dd {
        margin-left: 180px;
        color: white;
    }


.header {
        padding-top: 25px;
    }


.btn {
  padding-bottom: 2em;
}

