@import url('http://fonts.googleapis.com/css?family=Varela Round');
@import url('http://fonts.googleapis.com/css?family=Indie Flower');


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* MRK Changes */


label{
font-family: 'Varela Round', sans-serif;
-webkit-font-smoothing: antialiased;

color:white;
}

html {

scrollbar-face-color :Aquamarine;
scrollbar-arrow-color:AliceBlue; 


}

.formbg{
border-radius:50px;
border:1px solid blue;
background-color:LightSteelBlue;
padding-left:5px;
padding-bottom:10px;
padding-right:5px;
padding-top:5px;
/*width: 500px;*/
width: 100%;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto


background: url("../Assets/detroitbuttonface.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  padding-left:10px;
  


}

.topbannerimage{
 display: block;
    margin-left: auto;
    margin-right: auto      
}

.center{
    text-align:center
}

.medimgsize{
    height:250px;
    width:250px;
}

h1{
font-family: 'Indie Flower', cursive;
-webkit-font-smoothing: antialiased;
color:white;
text-align:center;
font-size:75px;
}

 h2, h3, h4{
font-family: 'Varela Round', sans-serif;
-webkit-font-smoothing: antialiased;
color:white;
text-align:center;
font-size:45px;
}

form, p {
font-family: 'Varela Round', sans-serif;
-webkit-font-smoothing: antialiased;
color:white;
}

body{

background: url("../Assets/projectbackground.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text {
color:black;


}




input, .inputclass
{
background:AliceBlue;

border-radius:5px;
border: 2px inset #d7b9c9

  
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  padding-bottom: 5px;
  padding-left: 1px;
  border-style: solid;
  border-color:black;
  border-width:1px;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-left:1px;



}

#border
{
border: 2px inset #d7b9c9

}


/* Start dribbbling */
#dribbble                              {width:500px; margin:20px auto 50px; text-align:center;}
#dribbble a                            {position:relative; display:inline-block; z-index:1; padding:7px 12px; border:0;
                                        overflow:hidden; font-weight:bold; font-family:Arial, sans-serif; color:#666;
                                        background:#e0e0e0;
                                        /* css3 */
                                        -webkit-border-radius:6px;
                                           -moz-border-radius:6px;
                                                border-radius:6px;}


#dribbble a:before                     {content:""; display:block; position:absolute; z-index:-1; top:50%; left:0; right:0;
                                        bottom:0; background:#d3d3d3;
                                        /* css3 */
                                        -webkit-border-radius:0 0 6px 6px;
                                           -moz-border-radius:0 0 6px 6px;
                                                border-radius:0 0 6px 6px;}


#dribbble a:after                      {content:"\00bb"; padding-left:5px;}

#dribbble a:hover,
 #dribbble a:focus,
 #dribbble a:active                    {color:#fff; background:#ec6196;}
#dribbble a:hover:before               {background:#ea4c88;}


/* End dribbbling*/
a:link {
    text-decoration: none;
    color: red;
border-bottom:solid;
cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: red;
border-bottom: solid;
cursor: pointer;
}

a:active {
    text-decoration: none;
    color: red;
border-bottom: solid;
cursor: pointer;

outline: thin dotted #333;
  color:aliceblue
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}




li, ul,  ol{
font-family: 'Varela Round', sans-serif;
-webkit-font-smoothing: antialiased;
color:white;
padding:5px;
list-style-type:none;

}

.jumbotron{
    background-color:lightsteelblue;
}

.img{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
    max-width: 100%;
}

.img-expanded{
    max-width: none;
}